body {
  color: #3E3E3E;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAKElEQVQYV2O0s7P7z4AHMBKtgJ+fn+Hjx49gs5DZxJuAyxlwE2hnBQDiQxnRKHt6IgAAAABJRU5ErkJggg==
    );
}

#wrap {
	background-color:#F2F2F2;
}

a:link, a:visited, a:active {
  color: #A33D47
}

a:hover {
  color: #3E3E3E;
  text-decoration: none;
}

footer {
  background-color: #282828;
  color: #8B8B8B;
}

footer a:link, footer a:visited, footer a:active {
  color: #A33D47
}

footer a:hover {
  color: #F2F2F2;
  text-decoration: none;
}