@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
body,
#container {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding: 0 1em 30px;

  max-width: 680px;
}

#push,footer {
  height: 30px;
}

footer {
  text-align: right;
  padding: 5px;
}

footer .footer {
  max-width: 680px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  /*font-family: Georgia, serif;*/
}

body {
  font-family: 'Open Sans', sans-serif;
  /*font-family: Verdana, Geneva, sans-serif;*/
}

ul {
  padding: 0;
}

main ul li {
  margin-left: 1.5em;
}

.blogpost {
  margin-bottom: 1.5em;
}

.blogpost h2 {
  display: inline;
}

.blogpost time {
  float: right;
}

h2 a:link,
h2 a:visited,
h2 a:hover,
h1 a:link,
h1 a:visited,
h1 a:hover {
  color: inherit;
}

nav {
  text-align: left;
}

nav li {
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
}

nav li:last-child {
  padding-right: 0;
}
nav li:first-child {
  padding-left: 0;
}

.fancy-list li {
  display: inline-block;
  text-transform: lowercase;
  margin: 0;
}

.fancy-list li:last-child:after {
  content: none;
}

.fancy-list li:after {
  content: "  \22C5";
}

pre {
  border-radius: 0;
}

code {
  color: #A33D47;
  background-color: #dedede;
}