<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <script src="{{ site.relative }}js/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ site.relative }}bootstrap/css/bootstrap.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.relative }}css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.relative }}css/main.css">

        <!-- Theme -->
        {% if page.theme %}
            <link rel="stylesheet" href="{{ site.relative }}css/{{page.theme}}.css">
        {% else %}
            <link rel="stylesheet" href="{{ site.relative }}css/{{site.default_theme}}.css">
        {% endif %}

        {% for css_name in page.extra_css %}
            <link rel="stylesheet" href="{{ site.relative }}css/{{ css_name }}">
        {% endfor %}
    </head>
    <body>
        <div id="container">
            <div id="wrap">
                <header class="page-header">
                    <h1><a href="{{ site.relative }}">{{ site.name }}</a></h1>
                    {% if page.exclude contains 'header' %}
                    {% else %}
                        {% include navigation.html %}
                    {% endif %}
                </header>
                <main>
                  {{ content }}
                </main>
                <div id="push"></div>
            </div>
            {% include footer.html %}
        </div>
        <script src="{{ site.relative }}bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
